/**********************************************************************
*  Body Contents                                                      *
**********************************************************************/
body
{
    font-family:'Noto Sans','Roboto Mono',Helvetica;
    background:linear-gradient(197deg, rgba(18,183,213,1) 10%, rgba(252,70,107,1) 85%) no-repeat center center fixed;
}
#name
{
    font-family: 'Hack',Verdana, Arial, Helvetica, sans-serif;
}
img#avatar {
    border: black;
    border-radius: 12px;
}
/**********************************************************************
*  Spacing Element                                                    *
**********************************************************************/
:root {--spacing-none: 0;--spacing-extra-small: .25rem;--spacing-small: .5rem;--spacing-medium: 1rem;--spacing-large: 2rem;--spacing-extra-large: 2.5rem;--spacing-extra-extra-large: 8rem;--spacing-extra-extra-extra-large: 16rem;}


/**********************************************************************
*  Class Elements                                                     *
**********************************************************************/
.container {text-align: center;}.imgsrc{cursor: pointer; padding: 4px; background-color: #89cbb5;border-radius: 4px;text-decoration: none;color: black;}.header {font-size: 3rem;letter-spacing: .1em;}.input-wrapper {background: linear-gradient(45deg, #92baac 45px, transparent 45px)64px 64px, linear-gradient(45deg, #92baac 45px, transparent 45px,transparent 91px, #e1ebbd 91px, #e1ebbd 135px, transparent 135px), linear-gradient(-45deg, #92baac 23px, transparent 23px, transparent 68px,#92baac 68px,#92baac 113px,transparent 113px,transparent 158px,#92baac 158px);background-color:#e1ebbd;background-size: 128px 128px;padding: var(--spacing-large);border-radius: .5rem;box-shadow: 4px 4px 8px 0px rgba( 0, 0, 0, 0.2 );}.gen {display:flex;justify-content:center;}.inpbox {outline: none;color:black;height:55%;font-size: 1.25rem;padding: var(--spacing-small);width: 70%;}.generate {outline: none;border:1.75px solid black;color: black;cursor:pointer;font-size: 1.25rem;display: inline-block;width: 32%;overflow:hidden;text-align: center;text-decoration: none;transition: color 15s ease-in;padding-left: var(--spacing-small);padding-right: var(--spacing-small);padding-top: var(--spacing-small);padding-bottom: var(--spacing-small);background-color:mediumaquamarine;}.avatar {cursor:default;background-color:#a9e6d185;display: inline-block;border-radius: .5rem;border-width: .25rem;box-shadow: 4px 4px 8px 0px rgba( 0, 0, 0, 0.2 );padding: var(--spacing-large);margin: var(--spacing-extra-large);}.usrinfo {text-transform: capitalize;text-align:left;}.zoom {-moz-osx-font-smoothing: grayscale;backface-visibility: hidden;transform: translateZ(0);transition: transform 0.25s ease-out;}


/**********************************************************************
*  Hover Elements                                                     *
**********************************************************************/
.zoom:hover,.zoom:focus 
{
  transform: scale(1.05);
}
.zoom:active 
{
    transform: scale(.90);
}
  
/**********************************************************************
*  Responsive Code                                                    *
**********************************************************************/
@media only screen and (max-width: 400px) 
{
    .generate
    {
        font-size:0.8em;
        width:25%;
    }
}
